.message-listItem {
  height: 1.2rem;
}

.message-listItem img {
  height: 0.6rem;
  width: 0.6rem;
}

.audios-listItem {
  height: 1.6rem;
}

.audios-listItem img {
  height: 1.2rem !important;
  width: 1.2rem !important;
  margin: 0.2rem 0;
  object-fit: cover;
  border-radius: 0.1rem;
}

.audios-listItem div:nth-child(2) {
  border-bottom: 1px solid #666;
}

.audios-listItem .am-list-line {
  border-bottom: 1px solid #666;
}

.audios-listBody a:last-child .audios-listItem div:nth-child(2){
  border-bottom: 0;
}

.audios-listBody {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}